body{
    margin: 0px;
}

.header-container {
    height: 100vh;
    width: 100vw;
    background-image: url(./portfolio.png);
    background-size: cover;
    background-position: right top;
    background-attachment: scroll;
}

.header-container nav{
    font-family: 'Lato', sans-serif;
    height: 80px;
    display: flex;
}

.header-container nav ul{
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.header-container nav li{
    color: white;
    font-weight: bold;
    padding-right: 100px;
}

.header {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    width: 50vw;
    height: 100%;
}

.text_header {
    font-size: 30px;
    color: white;
}