body {
    margin: 0px;
}

nav {
    width: 100vw;
    height: 80px;
    display: flex;
}

.nav_logo {
    width: 25vw;
    background-color: aqua;
}

.nav_menu {
    width: 50vw;
}

.nav_menu ul{
    margin: 0px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_menu nav li{
    color: white;
    font-weight: bold;
}

.nav_button {
    width: 25vw;
    background-color: green;
}